<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Base</title>
    <link rel="stylesheet" href="{% static 'hospital_home/css/base.css' %}">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </head>
  <body>
    <div class="navbar">
      <ul>
        <li class="logo"> <a href="#"><img src="{% static 'hospital_home/css/brandlogo.png' %}" alt="Image not found"></a></li>
        <li class="navigators"> <a href="h_logout">Logout</a></li>
        <li class="navigators"> <a href="hospitaloccupied">Occupied</a></li>
      </ul>
    </div>

    {% for message in messages %}
    <script>
          swal ( "Error" ,  '{{ message }}' ,  "error" )
    </script>
    {% endfor %}

    {% block content %}
    {% endblock %}
  </body>
</html>
